.products-wrap {

    height: 100%;

    .list-wrap {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 5px;

        ul {
            margin: 0;
            padding: 0;

            li {
                position: relative;
                display: inline-block;
                list-style: none;
                width: 20%;
                height: 270px;
                padding: 5px;

                div.product-wrap {
                    width: 100%;
                    height: 100%;

                    .title {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                @media (max-width: 1200px) {
                    width: 50%;
                }

                @media (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}
