.main-contents-wrap {
    height: 100%;
    width: 100%;

    div.menu-wrap {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10px 50px;
        margin: 0;

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid #ffffff;
            border-radius: 18px;

            &:hover {
                cursor: pointer;
            }
            &:active {
                opacity: 0.5;
            }
            div {
                height: 100%;
            }
            &.yarn-wrap {
                background: url('/assets/images/yarn-1.png') no-repeat center;
                background-size:cover;
            }

            &.diy-kit-wrap {
                background: url('/assets/images/yarn-2.png') no-repeat center;
                background-size:cover;
            }

            &.samples-wrap {
                background: url('/assets/images/yarn-3.png') no-repeat center;
                background-size:cover;
            }

            &.cast-on-needle-wrap {
                background: url('/assets/images/yarn-4.png') no-repeat center;
                background-size:cover;
            }

            &.crochet-wrap {
                background: url('/assets/images/yarn-5.png') no-repeat center;
                background-size:cover;
            }

        }
    }
}