.main-contents-wrap {
    height: 100%;
    width: 100%;

    div.menu-wrap {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 10px 50px;
        margin: 0;

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid #ffffff;

            &:hover {
                cursor: pointer;
            }
            &:active {
                opacity: 0.5;
            }
            div {
                height: 100%;
            }
            &.yarn-wrap {
                background-color:  aquamarine;
                .yarn {
                    height: 90%;
                    background: url('../../images/yarn.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                }
            }

            &.diy-kit-wrap {
                background-color: #CCB2A3;
                .diy-kit {
                    height: 90%;
                    background: url('../../images/diy-kit.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #EEEEEE;
                    border-radius: 50%;
                }
            }

            &.samples-wrap {
                background-color: #1037B5;
                .samples {
                    height: 90%;
                    background: url('../../images/samples.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #EFC84A;
                    border-radius: 50%;
                }
            }

            &.cast-on-needle-wrap {
                background-color: #1FA4B6;
                .cast-on-needle {
                    height: 90%;
                    background: url('../../images/cast-on-needle.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                }
            }

            &.crochet-wrap {
                background-color: #130F0F;
                .crochet {
                    height: 90%;
                    background: url('../../images/crochet.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #ECF0F0;
                    border-radius: 50%;
                }
            }

        }
    }
}